<div class="container">
	<div class="row">
		<div class="col-3">
			<h1><%= @user.first_name + ' ' + @user.last_name %></h1>
			<h3><%= @user.email %></h3>
		</div>
		<div class="col-3 offset-2">
			<h3><%= @user.bio %></h3>
		</div>
	</div>
</div>
<%= form_with model: Boat.new, id: 'boat-new-form', data: {'parsley-validate': ''} do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :containers %><br />
    <%= f.text_field :containers %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<div class="container">
	<div class="row">
		<% @user.jobs.each do |job| %>
			<div class="col-3">
				<%= job.name %>
				<%= job.description %>
				<%= job.origin %>
				<%= job.containers_needed %>
				<%= job.destination %>
				<%= job.cost %>
			</div>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="boats row">
		<%= render @user.boats.reverse %>
		<% @user.boats.each do |boat| %>
		<% end %>
	</div>
</div>