<%= form_with model: @user, data: {'parsley-validate': ''}, local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :containers %><br />
    <%= f.text_field :containers %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>