<div class="container">
  <div class="row boatMargin justify-content-center greyBackground">
    <%= form_with model: Boat.new, id: 'boat-new-form', data: {'parsley-validate': ''} do |f| %>
      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
    
      <div class="field form-group">
        <%= f.label :location %><br />
        <%= f.text_field :location %>
      </div>
    
      <div class="field form-group">
        <%= f.label :containers %><br />
        <%= f.text_field :containers %>
      </div>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :images, multiple: true, class: 'form-control-file btn btn-primary' %>
      </div>
    
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="boats row justify-content-center greyBackground">
    <%= render @boats.reverse %>
  </div>
</div>